#main{
    text-align: center;
} 
h1 {
    color: #27aedb;
    text-align: center;
    }
.content{
    max-width: 50%;
    height: 50%;
    border: 1px solid #27aedb;
    border-radius: 20px;
    margin: 20px 400px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;  
    background-color: #f2eeee;
} 
.label{
    margin-bottom: 30px;
    padding-bottom: 20px;
}   
input{
    border-radius: 5px;
    border: 1px solid rgb(191, 189, 189);
    height: 20px;
}
select{
    border-radius: 5px;
    border: 1px solid rgb(191, 189, 189);
    height: 20px;
    width: 177px;
}
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    border-color:#27aedb ;
    background-color: #d5e6ec;
}